/* General page styling */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  margin-top: 20px;
  color: #2c3e50;
}

p {
  font-size: 1em;
  margin: 10px 0;
  text-align: center;
  color: #555;
}
.weather {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #e0f7fa;
  border-radius: 5px;
  font-size: 1.2em;
  color: #00796b;
  height: 300px;
}
.weather h2 {
  margin-top: 0px;
  color: #00796b;
}

.weather-details {
  display: flex;
  flex-direction: row;
  font-size: 1em;
  gap: 200px;
}

.weather-details-box1 {
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 10px;
}
.weather-details-box11 {
  padding-top: 20px;
  font-size: 4em;
}
.weather-details-box12 {
  padding-top: 20px;
  font-size: 2em;
}
.weather-details-box2 p {
  color: #00796b;
}

/* Weather and location info */
.weather-location {
  background: #3498db;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 600px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Container for the activities */
.activities-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 60px;
}

/* Individual activity card */
.activity-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.activity-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Activity name (title) */
.activity-card h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}

/* Activity description */
.activity-card p {
  font-size: 1rem;
  color: #555;
  margin: 5px 0;
}

/* Book button */
.activity-card button {
  background-color: #00796b;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.activity-card button:hover {
  background-color: #0056b3;
}

/* No activities message */
.no-activities-message {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
  margin-top: 30px;
}
